{% set nbsuccess = 0 %}

{% for key, flash in flashes %}
    {% if key == 'success_menu' %}
        {% for message in flash %}
            {% set nbsuccess = nbsuccess + 1 %}
        {% endfor %}
    {% endif %}
{% endfor %}

{% if nbsuccess == 1 %}
    <div class="nNote {{ 'n' ~ 'success'|capitalize }}">
        <p>{{ 'black.bundle.menu.success.menu.admin.delete'|trans({}, "flash") }}</p>
    </div>
{% endif %}

{% if nbsuccess >1 %}
    <div class="nNote {{ 'n' ~ 'success'|capitalize }}">
        <p>{{ 'black.bundle.menu.success.menu.admin.deletes'|trans({}, "flash") }}</p>
    </div>
{% endif %}

{% if nbsuccess == 0 %}
    {% for key, flash in flashes %}
        {% for message in flash %}
            <div class="nNote {{ 'n' ~ key|capitalize }}">
                <p>{{ message|trans({}, "flash") }}</p>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
